:root {
    --primary-color: #fe4902;
    --white-color: #f5f5f5;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Pretendard", sans-serif;
}

.wrap {
    display: grid;
    width: 375px;
}

.header {
    margin-bottom: 16px;
}

.title {
    margin-bottom: 12px;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.body {
}

.footer {
    display: none;
}
