.input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #aaa;

    &:is(:hover, :focus) {
        border-color: var(--primary-color);
        box-shadow: 0 0 0 1px var(--primary-color);
        outline: 0;
    }
}
