.item {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 8px;
    gap: 8px;
    background-color: var(--primary-color);
    color: var(--light-color);
    animation: 0.3s show;

    &.active {
        opacity: 0.5;
    }
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(32px);
    }
    100% {
        transform: translateY(0);
    }
}

.check {
    padding: 4px;
    border-radius: 50%;
    color: var(--light-color);
    transition: 0.3s;
    cursor: pointer;

    .active &,
    &:hover {
        color: var(--primary-color);
        background-color: var(--light-color);
        outline: 0;
    }
}

.text {
    flex-shrink: 1;
}

.delete {
    padding: 4px;
    margin-left: auto;
    border-radius: 50%;
    color: var(--light-color);
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        color: var(--primary-color);
        background-color: var(--light-color);
        outline: 0;
    }
}
